<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @music.title %>
      </p>
      <p class="prototype__hedding">
        <%= @music.artist %>
      </p>
      <%= link_to "by #{@music.user.nickname}" , "/users/#{@music.user.id}", class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @music.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_music_path(@music.id), class: "btn btn-outline-info" %>
          <%= link_to "削除する", music_path(@music.id), method: :delete, class: "btn btn-outline-danger" %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @music.image.variant(resize: '500x500')if @music.image.attached? %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">曲紹介</p>
          <p class="detail__message">
            <%= @music.introduction %>
          </p>
        </div>
      </div>
      <audio src= "<%= "#{@music.audio}" %>" controls="">
        <a src="<%= "#{@music.audio}" %>">ダウンロード</a>
      </audio>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@music, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: "btn btn-outline-info" %>
            </div>
          <% end %> 
        <% end %> 
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user.id}", class: "btn btn-link" %></strong>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
